body {
  background-image: url("http://blogs.discovermagazine.com/d-brief/files/2017/08/shutterstock_244338682.jpg");
  color: white;
}

h1 {
  font-size: 50px;
}

.container {
  display: block;
  float: left;
}
